/* General rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}
.fluid-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Display */
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-1 {
  flex: 1;
}
/* position */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}

.overflow-hidden {
  overflow: hidden;
}
/* Size */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-1-5 {
  padding-top: 1.5rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-1-5 {
  padding-bottom: 1.5rem;
}
.pt-5 {
  padding-top: 5rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pi-1 {
  padding-inline: 1rem;
}
.py--5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* margin */
.mi-1 {
  margin-inline: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt--5 {
  margin-top: 0.5rem;
}
/* Gap */
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}

/* Color */
.color-primary {
  color: var(--brand-primary);
}
.color-secondary {
  color: var(--brand-secondary);
}
.color-body-text {
  color: var(--body-text);
}
.color-dark-yellow {
  color: var(--dark-yellow);
}
/* Background */
.bg-default {
  background-color: var(--bg_default);
}
.bg-body {
  background-color: var(--bg_body);
}
.bg-dark-yellow {
  background-color: var(--dark-yellow);
}
/* Font */
.bold {
  font-weight: 700;
}
.light {
  font-weight: 200;
}

.border {
  border: 1px solid var(--lines-color, gray);
}
.rounded {
  border-radius: 8px;
}
.shadow {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Components */
/* Button */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 4px;
  background-color: var(--bg_default);
  border: 1px solid var(--lines-color, gray);
  color: var(--body-text);
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: var(--bg_body);
}
/* input */
/* input text */
.input-text {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--bg_default);
  color: var(--body-text);
  transition: all 0.3s ease;
}

label {
  font-size: 0.75rem;
  color: var(--body-text);
}

select {
  border: none;
  background: none;
  margin-inline-start: -4px;
}

/* Lines */
.v-line {
  width: 1px;
  background-color: var(--lines-color, gray);
}
.h-line {
  height: 1px;
  background-color: var(--lines-color, gray);
}

/*********************************************************************************/
/* responsive */

.hidden {
  display: none;
}
.visible {
  display: block;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
@media (min-width: 576px) {
  .triangle-shape {
    height: 70px !important;
  }
  select {
    min-width: 150px;
  }
  .sm-hidden {
    display: none;
  }
  .sm-visible {
    display: block;
  }
  .sm-flex {
    display: flex;
  }
  .sm-flex-col {
    flex-direction: column;
  }
  .sm-flex-row {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .md-hidden {
    display: none;
  }
  .md-visible {
    display: block;
  }
  .md-flex {
    display: flex;
  }
  .md-flex-col {
    flex-direction: column;
  }
  .md-flex-row {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .lg-hidden {
    display: none;
  }
  .lg-visible {
    display: block;
  }
}
@media (min-width: 992px) {
  .xl-hidden {
    display: none;
  }
  .xl-visible {
    display: block;
  }
}
