.header {
  min-height: var(--top-header-height);
}

.header__title .title {
  font-size: 1rem;
  color: var(--brand-primary);
}

/* hero */
.hero__content > div {
  margin-top: 58px;
}
.triangle-shape {
  position: absolute;
  width: 100%;
  height: 50px;
  clip-path: polygon(0 0, 0 100%, 85% 0);
  background: linear-gradient(
    90deg,
    var(--brand-primary) 30%,
    var(--brand-secondary)
  );
}
.triangle-shape-rev {
  clip-path: polygon(15% 0, 100% 100%, 100% 0);
  background: linear-gradient(
    275deg,
    var(--brand-secondary) 30%,
    var(--brand-primary)
  );
}

/* Courses */
.courses__results {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--course-card-width), 1fr)
  );
  gap: 24px;
}
.courses__title {
  padding: 24px 0 36px;
}
.course-item {
  box-shadow: var(--shadow);
  border-radius: 8px;
  background: white;
  overflow: hidden;
  cursor: pointer;
}
.course-item:hover {
  box-shadow: var(--lg-shadow);
  transition: all 0.3s ease;
}
.course-item__top-img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}
.course-item__content {
  padding: 16px;
}
.course-item__content .category,
.course-item__content .title,
.course-item__content .author {
  font-size: 14px;
  color: var(--body-text);
  font-weight: normal;
}

.course-item__content .title {
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: bold;
  color: var(--body-text);
}

.course-item__content .author {
  margin-top: 8px;
  color: var(--gray-text);
}
.course-item__content .stars-rate {
  color: var(--dark-yellow);
}

/* Footer */
footer {
  padding: 36px 0;
  text-align: center;
}

/* favorite section */

.favorite {
  z-index: 99;
  padding: 16px;
  width: 100%;
  background: var(--bg_default);
  bottom: -100%;
  position: fixed;
  box-shadow: 0px -10px 20px 0px rgb(0 0 0 / 40%);
  overflow: auto;
  max-height: 250px;
  transition: all 0.3s ease;
}
.favorite__list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.fav-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
}
.fav-item__body {
  padding: 8px 16px;
}
.fav-img {
  height: 100px;
}
/* <div class="favorite__list">
<article class="fav-item"> */
/********************************* Details page *********************************/
.details-header__side-card .card-body {
  padding: 24px 16px;
}
.details-header__side-card .bottom-box {
  margin-top: 8px;
  padding: 16px;
}
.btn-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  background-color: var(--brand-secondary);
  color: var(--bg_body);
  border: none;
  border-radius: 0px;
}
.details-content__list > li {
  border-top: 1px solid var(--lines-color);
}
